<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!--<app-ng-for-example></app-ng-for-example>-->

<!--<hr>-->

<!--<app-parent-to-child></app-parent-to-child>-->

<!--<hr>-->

<!--<app-enumerations></app-enumerations>-->

<!--<hr>-->

<!--<app-output-example></app-output-example>-->

<!--<hr>-->

<!--<app-switch-example></app-switch-example>-->

<!--<app-form-example></app-form-example>-->

<!--<app-test-services></app-test-services>-->

<!--<a [routerLink]="['/ngForExample/DummyParam']">For Example</a>-->
<!--<a [routerLink]="['/enumerations']">Enumerations</a>-->
<!--<a [routerLink]="['/output']">Output Example</a>-->
<!--<a [routerLink]="['/services']">Services Example</a>-->

<!--<h4>Antes</h4>-->
<!--<router-outlet></router-outlet>-->

<!--<h4>Despues</h4>-->

<!--<app-observers-example></app-observers-example>-->

<!--<app-directive-example></app-directive-example>-->

<!--<app-lifecycle></app-lifecycle>-->

<app-event-example></app-event-example>
